<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post and Get mathod</title>
</head>
<body>
    {% comment %} <form method='GET'> {% endcomment %}
    <form method='POST'>
        {% csrf_token %}
        <label for="">Title</label>
        <input type="text" name="title" id="">
        <label for="">Number</label>
        <input type="number" name="num" id="">
        <button>Submit</button>
    </form>
</body>
</html>