<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post and Get mathod</title>
</head>
<body>
    {% comment %}
    Mainly two types of request
    1. GET = It will show in url
    2. POST = It will never show in url. for privacy
    {% endcomment %}
    {% comment %}<form method='GET'>{% endcomment %}
    <form method='POST'>
        {% csrf_token %}
        {{ form_a.as_p}}
        <button>Submit</button>
    </form>
</body>
</html>