<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All tasks</title>
</head>
<body>
    {% comment %} <div>
        <ul>
            {% for task in tasks %}
                <li>{{task.title}}</li>
                <span> {{task.details.priority}} </span>
            {% endfor %}
        </ul>
    </div> {% endcomment %}
    {% comment %} <div>
        <ul>
            {% for detail in all_details %}
                <li> {{detail.task.title}} </li>
                <span> {{detail.priority}} </span>
            {% endfor %}
        </ul>
    </div> {% endcomment %}
    {% comment %} <div>
        <ul>
            {% for task in tasks %}
                <li> {{task.title}} </li>
                <span> {{task.project}} </span>
            {% endfor %}
        </ul>
    </div> {% endcomment %}

    {% comment %} <div>
        <ol>
            {% for project in projects %}
                <li>{{project.name}}</li>
                <ol>
                    {% for task in project.tasks.all%}
                        <li>{{task.title}}</li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </ol>
    </div> {% endcomment %}

    <div>
        <ol>
            {% for task in tasks %}
                <li>{{task.title}}</li>
                <ol>
                    {% for emp in task.assigned_to.all%}
                        <li>{{emp.name}}</li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </ol>
    </div>
</body>
</html>