<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All tasks</title>
</head>
<body>
    {% comment %} <section>
        <div>
            <h1>All of your tasks:</h1>
            <ul>
                {% for task in  tasks%}
                    <li>{{task}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h1>Pending tasks list:</h1>
            <ul>
                {% for task in pending_tasks %}
                    <li> {{task.title}} </li>
                    <span> {{task.status}} </span>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h1>List of Not Low tasks:</h1>
            <ul>
                {% for task in not_low_tasks %}
                    <p> {{task.task}} </p>
                    <span> {{task.priority}} </span>
                {% endfor %}
            </ul>
        </div>
        <div>
            {{task2}}
        </div>
        <div>
            {{first_task}}
        </div>
    </section> {% endcomment %}
    {% comment %} <section>
        <div>
            <h1>Searching icontains with 'and' operaions</h1>
            <ul>
                {% for task in and_tasks %}
                    <li>{{task.title}}</li>
                    <span>{{task.status}}</span>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h1>Searching with 'or' operations</h1>
            <ul>
                {% for task in or_tasks %}
                    <li>{{task.title}}</li>
                    <span>{{task.status}}</span>
                {% endfor %}
            </ul>
        </div>
    </section> {% endcomment %}

    <section>
        <h2> {{is_exits}} </h2>
    </section>
</body>
</html>