{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test file</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 class="green-bg">all are ok now</h1>
    <img src="{% static 'images/soldures.jpg' %}" alt="">
    <br>
    <hr>

    {% for name in names %}
        {% if not name == 'Appolo' %}
            <p style="font-size: 40px">{{name}}</p>
        {% endif %}
    {% endfor %}
</body>
</html>