<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User DashBoard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="mt-5 max-w-[1400px] mx-auto bg-gray-100">
    <header class="flex justify-between items-center">
        <h1 class="font-bold text-3xl">Dashboard</h1>
        <div class="flex items-center gap-2">
            <button class="p-2 hover:bg-gray-200 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                </svg>
            </button>
            <button class="w-8 h-8 bg-blue-600 rounded-full text-white">B</button>
        </div>
    </header>

    <main>
        <section class="grid grid-cols-2 lg:grid-cols-4 gap-10">
            <div class="flex justify-between items-center bg-white py-5 px-3 rounded-md shadow-sm">
                <div>
                    <h3 class="text-gray-500 ">Total Task</h3>
                    <h2 class="text-2xl font-bold">3</h3>
                    <h3 class="text-gray-500 ">11 last month</h3>
                </div>
                <button class="h-10 w-10 flex justify-center items-center bg-blue-200 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                    </svg>
                </button>
            </div>
            <div class="flex justify-between items-center bg-white py-5 px-3 rounded-md shadow-sm">
                <div>
                    <h3 class="text-gray-500 ">Total Task</h3>
                    <h2 class="text-2xl font-bold">3</h3>
                    <h3 class="text-gray-500 ">11 last month</h3>
                </div>
                <button class="h-10 w-10 flex justify-center items-center bg-blue-200 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                    </svg>
                </button>
            </div>
            <div class="flex justify-between items-center bg-white py-5 px-3 rounded-md shadow-sm">
                <div>
                    <h3 class="text-gray-500 ">Total Task</h3>
                    <h2 class="text-2xl font-bold">3</h3>
                    <h3 class="text-gray-500 ">11 last month</h3>
                </div>
                <button class="h-10 w-10 flex justify-center items-center bg-blue-200 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                    </svg>
                </button>
            </div>
            <div class="flex justify-between items-center bg-white py-5 px-3 rounded-md shadow-sm">
                <div>
                    <h3 class="text-gray-500 ">Total Task</h3>
                    <h2 class="text-2xl font-bold">3</h3>
                    <h3 class="text-gray-500 ">11 last month</h3>
                </div>
                <button class="h-10 w-10 flex justify-center items-center bg-blue-200 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                    </svg>
                </button>
            </div>
        </section>

        <section class="mt-10 grid grid-cols-1 lg:grid-cols-2 gap-5">
            <div class="bg-white rounded-sm p-5">
                <h1 class="text-2xl font-bold">Today's Tasks</h1>
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2 mt-2">
                        <div class="w-2 h-2 rounded-full bg-green-600"></div>
                        <h3>Complete Project Proposal</h3>
                    </div>
                    <div>
                        <span class="text-gray-500">High</span>
                    </div>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2 mt-2">
                        <div class="w-2 h-2 rounded-full bg-yellow-600"></div>
                        <h3>Review team updates</h3>
                    </div>
                    <div>
                        <span class="text-gray-500">Normal</span>
                    </div>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2 mt-2">
                        <div class="w-2 h-2 rounded-full bg-purple-600"></div>
                        <h3>Prepare for client meeting</h3>
                    </div>
                    <div>
                        <span class="text-gray-500">Low</span>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-sm p-5">
                <h1 class="text-2xl font-bold">All Tasks</h1>
                <div class="grid grid-cols-4 mt-2 gap-5">
                    <h2 class="text-gray-500 font-bold">Task Title</h2>
                    <h2 class="text-gray-500 font-bold">Priority</h2>
                    <h2 class="text-gray-500 font-bold">Team</h2>
                    <h2 class="text-gray-500 font-bold">Created At</h2>
                    <!-- Task 1 -->
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-600"></div>
                        <h3>Test task 1</h3>
                    </div>
                    <h3 class="w-10 rounded-md flex justify-center items-center text-blue-600 bg-blue-100">Low</h3>
                    <div class="flex -space-x-2">
                        <span class="w-8 h-8 flex justify-center items-center rounded-full bg-blue-600 text-white text-sm border-2 border-white">BC</span>
                        <span class="w-8 h-8 flex justify-center items-center rounded-full bg-green-600 text-white text-sm border-2 border-white">AB</span>
                        <span class="w-8 h-8 flex justify-center items-center rounded-full bg-violet-600 text-white text-sm border-2 border-white">DA</span>
                    </div>
                    <h3 class="text-gray-400">9 months ago</h3>
                    
                    <!-- task 2 -->
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-600"></div>
                        <h3>Test task 2</h3>
                    </div>
                    <h3 class="w-10 rounded-md flex justify-center items-center text-green-600 bg-green-100">Normal</h3>
                    <div class="flex -space-x-2">
                        <span class="w-8 h-8 flex justify-center items-center rounded-full bg-green-600 text-white text-sm border-2 border-white">AB</span>
                        <span class="w-8 h-8 flex justify-center items-center rounded-full bg-violet-600 text-white text-sm border-2 border-white">DA</span>
                        <span class="w-8 h-8 flex justify-center items-center rounded-full bg-blue-600 text-white text-sm border-2 border-white">BC</span>
                    </div>
                    <h3 class="text-gray-400">9 months ago</h3>

                    <!-- task 3 -->
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-600"></div>
                        <h3>Test task 3</h3>
                    </div>
                    <h3 class="w-10 rounded-md flex justify-center items-center text-red-600 bg-red-100">High</h3>
                    <div class="flex -space-x-2">
                        <span class="w-8 h-8 flex justify-center items-center rounded-full bg-green-600 text-white text-sm border-2 border-white">AB</span>
                        <span class="w-8 h-8 flex justify-center items-center rounded-full bg-blue-600 text-white text-sm border-2 border-white">BC</span>
                        <span class="w-8 h-8 flex justify-center items-center rounded-full bg-yellow-600 text-white text-sm border-2 border-white">DA</span>
                    </div>
                    <h3 class="text-gray-400">9 months ago</h3>
                </div>
            </div>
        </section>
    </main>
</body>

</html>