{% extends "base.html" %}

{% block content %}
<section class="mt-10 grid grid-cols-1 lg:grid-cols-2 gap-5 max-w-[1470px] mx-auto">
    <div class="bg-white rounded-sm p-5">
        <h1 class="text-2xl font-bold">Today's Tasks</h1>
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-2 mt-2">
                <div class="w-2 h-2 rounded-full bg-green-600"></div>
                <h3>Complete Project Proposal</h3>
            </div>
            <div>
                <span class="text-gray-500">High</span>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-2 mt-2">
                <div class="w-2 h-2 rounded-full bg-yellow-600"></div>
                <h3>Review team updates</h3>
            </div>
            <div>
                <span class="text-gray-500">Normal</span>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-2 mt-2">
                <div class="w-2 h-2 rounded-full bg-purple-600"></div>
                <h3>Prepare for client meeting</h3>
            </div>
            <div>
                <span class="text-gray-500">Low</span>
            </div>
        </div>
    </div>
    <div class="bg-white rounded-sm p-5">
        <h1 class="text-2xl font-bold">All Tasks</h1>
        <div class="grid grid-cols-4 mt-2 gap-5">
            <h2 class="text-gray-500 font-bold">Task Title</h2>
            <h2 class="text-gray-500 font-bold">Priority</h2>
            <h2 class="text-gray-500 font-bold">Team</h2>
            <h2 class="text-gray-500 font-bold">Created At</h2>
            {% comment %} Task 1  {% endcomment %}
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 rounded-full bg-green-600"></div>
                <h3>Test task 1</h3>
            </div>
            <h3 class="w-10 rounded-md flex justify-center items-center text-blue-600 bg-blue-100">Low</h3>
            <div class="flex -space-x-2">
                <span class="w-8 h-8 flex justify-center items-center rounded-full bg-blue-600 text-white text-sm border-2 border-white">BC</span>
                <span class="w-8 h-8 flex justify-center items-center rounded-full bg-green-600 text-white text-sm border-2 border-white">AB</span>
                <span class="w-8 h-8 flex justify-center items-center rounded-full bg-violet-600 text-white text-sm border-2 border-white">DA</span>
            </div>
            <h3 class="text-gray-400">9 months ago</h3>
            
            {% comment %} task 2  {% endcomment %}
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 rounded-full bg-green-600"></div>
                <h3>Test task 2</h3>
            </div>
            <h3 class="w-10 rounded-md flex justify-center items-center text-green-600 bg-green-100">Normal</h3>
            <div class="flex -space-x-2">
                <span class="w-8 h-8 flex justify-center items-center rounded-full bg-green-600 text-white text-sm border-2 border-white">AB</span>
                <span class="w-8 h-8 flex justify-center items-center rounded-full bg-violet-600 text-white text-sm border-2 border-white">DA</span>
                <span class="w-8 h-8 flex justify-center items-center rounded-full bg-blue-600 text-white text-sm border-2 border-white">BC</span>
            </div>
            <h3 class="text-gray-400">9 months ago</h3>

            {% comment %} task 3  {% endcomment %}
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 rounded-full bg-green-600"></div>
                <h3>Test task 3</h3>
            </div>
            <h3 class="w-10 rounded-md flex justify-center items-center text-red-600 bg-red-100">High</h3>
            <div class="flex -space-x-2">
                <span class="w-8 h-8 flex justify-center items-center rounded-full bg-green-600 text-white text-sm border-2 border-white">AB</span>
                <span class="w-8 h-8 flex justify-center items-center rounded-full bg-blue-600 text-white text-sm border-2 border-white">BC</span>
                <span class="w-8 h-8 flex justify-center items-center rounded-full bg-yellow-600 text-white text-sm border-2 border-white">DA</span>
            </div>
            <h3 class="text-gray-400">9 months ago</h3>
        </div>
    </div>
</section>
{% endblock content %}