<table class="mx-auto bg-white rounded-xl shadow-sm mt-10 min-w-[500px]">
    <thead class="bg-gray-50">
        <tr>
            <th class="px-5 py-3 text-left text-gray-600">Sl</th>
            <th class="px-5 py-3 text-left text-gray-600">Title</th>
            <th class="px-5 py-3 text-left text-gray-600">Priority</th>
            <th class="px-5 py-3 text-left text-gray-600">Team</th>
            <th class="px-5 py-3 text-left text-gray-600">Created</th>
        </tr>
    </thead>
    <tbody>
        {% if tasks %}
            {% for task in tasks %}
            <tr class="border-t border-b border-stone-200 hover:bg-gray-50">
                <td class="px-5 py-2 text-gray-600">{{ forloop.counter }}</td>
                <td class="px-5 py-2">
                    <a href="{% url 'task-details' task.id %}" class="text-gray-600 hover:text-gray-500">
                        {{ task.title }}
                    </a>
                </td>
                <td class="px-5 py-2">
                    <span class="px-2 py-1 rounded-full 
                        {% if task.details.priority == 'high' %}bg-red-100 text-red-800
                        {% elif task.details.priority == 'medium' %}bg-yellow-100 text-yellow-800
                        {% else %}bg-green-100 text-green-800{% endif %}">
                        {{ task.details.get_priority_display }}
                    </span>
                </td>
                <td class="px-5 py-2 flex -space-x-2">
                    {% for employee in task.assigned_to.all %}
                        <div class="w-8 h-8 rounded-full text-white bg-blue-500 flex justify-center items-center text-sm border-2 border-white">
                            {{ employee.first_name|slice:':2' }}
                        </div>
                    {% endfor %}
                </td>
                <td class="px-5 py-2 text-gray-600">{{ task.created_at|timesince }} ago</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" class="px-5 py-2 border-t border-b border-stone-200 text-center text-gray-600">No tasks Available</td>
            </tr>
        {% endif %}
    </tbody>
</table>
